<section id="portfolio" class="s_portfolio bg_dark">
  <div class="section_header">
    <h2>Портфолио</h2>
    <div class="s_descr_wrap">
      <div class="s_descr"><p>Последние работы</p></div>
    </div>
  </div>
  <div class="section_content">
    <div class="container">
      <div class="row">
        <div class="filter_div controls">
          <ul>
            <li class="filter active" data-filter="all" >Все работы</li>
            <li class="filter" data-filter=".verstka" >Вёрстка</li>
            <li class="filter" data-filter=".wordpress" >Wordpress</li>
            <li class="filter" data-filter=".modx" >ModX</li>
            <li class="filter" data-filter=".opencart" >OpenCart</li>
          </ul>
        </div>

        <div
          class="row portfolio_grid"
          id="portfolio_grid"
          #portfoliogrid
        >
          <div
            *ngFor="let post of posts"
            class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item {{post.list}}"
          >
            <img src="{{post.imageSrc}}" alt="Alt" />
            <div class="port_item_cont">
              <h3>{{post.title}}</h3>
              <p>{{post.text}}</p>
              <a class="waves-effect waves-light btn modal-trigger homepage" (click)="selectPost(post)">Посмотреть</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="modal" #modal>
    <button class="modal-close homepage" type="button" title="Закрыть (Esc)" (click)="closeModal()">×</button>
    <div class="podrt_descr"  *ngIf="selectedPost">
      <div class="modal-box-content">

        <h3>{{selectedPost.title}}</h3>
        <p>{{selectedPost.text}} <i><a href="{{selectedPost.url}}" title="{{selectedPost.text}}" target="_blank">{{selectedPost.url}}</a></i>.</p>
        <img src="{{selectedPost.imageSrc}}" alt="Alt" />
      </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
