<section class="s_resume">
    <div class="section_header">
      <h2>Цены</h2>
      <div class="s_descr_wrap">
        <div class="s_descr">Примерная стоимость услуг по созданию сайтов</div>
      </div>
    </div>
    <div class="section_content">
      <div class="container">
        <div class="row resume_container">
            <div class="col-lg-6 col-md-6 left">
              <h3>Вёрстка</h3>
              <div class="resume_icon"><i class="icon-basic-sheet-pen"></i></div>
              <div class="resume_item">
                <div class="year"><p>Вёрстка главной страницы</p></div>
                <div class="resume_description"><p><strong>Цена договорная</strong></p></div>
              </div>
              <div class="resume_item">
                <div class="year"><p>Вёрстка внутренней страницы</p></div>
                <div class="resume_description"><p><strong>Цена договорная</strong></p></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 right">
              <h3>Интеграция с CMS</h3>
              <div class="resume_icon"><i class="icon-basic-gear"></i></div>
              <div class="resume_item">
                <div class="year"><p>Посадка на ModX Revo</p></div>
                <div class="resume_description"><p><strong>Цена договорная</strong></p></div>                
              </div>
              <div class="resume_item">
                  <div class="year"><p>Разработка SPA на Angular 6</p></div>
                  <div class="resume_description"><p><strong>Цена договорная</strong></p></div>                
                </div>
            </div>
          
        </div>
      </div>
    </div>
  </section>
