<section id="contacts" class="s_contacts bg_light">
  <div class="section_header">
    <h2>Контакты</h2>
    <div class="s_descr_wrap">
      <div class="s_descr">Оставьте ваше сообщение</div>
    </div>
  </div>
  <div class="section_content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="contact_box">
            <i class="contacts_icon fab fa-skype"></i>
            <h3>Скайп:</h3>
            <p><a href="Skype:marchcat7373?chat" title="Skype">marchcat7373</a></p>
          </div>
          <div class="contact_box">
            <i class="contacts_icon fab fa-telegram"></i>
            <h3>Телеграмм:</h3>
            <p><a href="tg://resolve?domain=pirs73" title="Telegram">@pirs73</a></p>
          </div>
          <div class="contact_box">
            <i class="contacts_icon fab fa-wpforms"></i>
            <h3>Веб-сайт:</h3>
            <p><a href="//codehtml.ru" target="_blank">codehtml.ru</a></p>
          </div>
        </div>
        <!--<div class="col-md-6 col-sm-6">
          <form action="send.php" class="main_form hidden" id="sendpost1" name="sendpost1" novalidate method="post">
            <label class="form-group">
              <span class="color_element">*</span> Ваше имя:
              <input type="text" id="InputName1" name="InputName1" placeholder="Ваше имя" data-validation-required-message="Вы не ввели имя" required />
              <span class="help-block text-danger"></span>
            </label>
            <label class="form-group">
              <span class="color_element">*</span> Ваш E-mail:
              <input type="email" id="InputEmail1" name="InputEmail1" placeholder="Ваш E-mail" data-validation-required-message="Не корректно введен E-mail" required />
              <span class="help-block text-danger"></span>
            </label>
            <label class="form-group">
              <span class="color_element">*</span> Ваше сообщение:
              <textarea id="InputMess" name="InputMess" placeholder="Ваше сообщение" data-validation-required-message="Вы не ввели сообщение" required></textarea>
              <span class="help-block text-danger"></span>
            </label>
            <input type="submit" class="btn btn-custom" id="submit" value="Отправить">
          </form>
        </div>-->
      </div>
    </div>
  </div>
</section>
