<header class="main_head main_color_bg parallax-container">
	<div class="parallax" #parallax><img src="/src/assets/img/bg.jpg" alt=""></div>
  <div class="top_wrapper">
    <div class="top_text">
      <h1>Вёрстка сайтов</h1>
      <p>Web-мастер / Верстальщик</p>
    </div>
  </div>
</header>
<section id="about" class="s_about bg_light">
	<div class="section_header">
		<h2>Услуги</h2>
		<div class="s_descr_wrap">
			<div class="s_descr"><p>Информация</p></div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 order-2 animation_1">
					<h3>Фото</h3>
					<div class="person">
						<img src="../../assets/img/photo.jpg" alt="Alt" class="materialboxed" data-originalWidth="392" #personfoto>
					</div>
				</div>
				<div class="col-lg-4 order-1 animation_2">
					<h3>Используемые технологии</h3>
					<ul>
						<li>Вёрстка из PSD макетов</li>
						<li>HTML5</li>
						<li>CSS3</li>
						<li>SASS</li>
						<li>Gulp</li>
						<li>Bootstrap</li>
						<li>Flexbox</li>
						<li>JavaScrypt</li>
						<li>Node JS</li>
						<li>MongoDB</li>
						<li>Angular 6</li>
					</ul>

					<p>Bалидно, адаптивно, кроссброузерно.</p>
				</div>
				<div class="col-lg-4 order-3 animation_3 personal_last_block">
					<h3>Персональная информация</h3>
					<ul>
						<li>Профессиональное создание сайтов: HTML верстка, посадка на CMS ModX Revo.</li>
						<li>Skype: marchcat7373</li>
						<li>Веб-сайт: <a href="//codehtml.ru" target="_blank">codehtml.ru</a></li>
					</ul>
					<div class="social_wrap">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
